body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    width: 300px
}

#popup-content {
    padding: 20px;
}

#app-logo {
    width: 100px;  /* Adjust size as needed */
    height: auto;
    margin-bottom: 20px;
}

button {
    display: block;
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
